body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 320px;
    border-radius: 30px;
    overflow: hidden;
}

.display {
    background-color: black;
    color: white;
    text-align: right;
    padding: 30px 10px 20px;
    font-size: 2.5rem;
    height: 100px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
    background-color: black;
}

button{
    height: 70px;
    border-radius: 50px;
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: #333;
    cursor: pointer;
    transition: 0.2s;
}


button:hover {
  filter: brightness(1.5);
}

button.orange {
  background-color: orange;
}

button.gray {
  background-color: #a5a5a5;
  color: black;
}

.zero {
  grid-column: span 2;
  border-radius: 40px;
  text-align: left;
  padding-left: 25px;
}
